<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wj.blog.dao.CategoryMapper">
  <resultMap id="BaseResultMap" type="com.wj.blog.common.domain.Category">
    <id column="category_id" jdbcType="VARCHAR" property="categoryId" />
    <result column="category_pid" jdbcType="VARCHAR" property="categoryPid" />
    <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
    <result column="category_description" jdbcType="VARCHAR" property="categoryDescription" />
    <result column="category_order" jdbcType="VARCHAR" property="categoryOrder" />
    <result column="category_icon" jdbcType="VARCHAR" property="categoryIcon" />
  </resultMap>
  <sql id="Base_Column_List">
    category_id,category_pid, category_name, category_description,category_order,category_icon
  </sql>

  <!-- 查询分类总数 -->
  <select id="selectTotal" resultType="java.lang.Integer">
  select
   count(*)
  from category
</select>

  <!-- 寻找所有分类 -->
  <select id="findAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from  category
  </select>


  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from category
    where category_id = #{categoryId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from category
    where category_id = #{categoryId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wj.blog.common.domain.Category">
    insert into category (category_id, category_pid, category_name, category_description,category_order,category_icon
      )
    values (#{categoryId,jdbcType=VARCHAR},#{categoryPid,jdbcType=VARCHAR}, #{categoryName,jdbcType=VARCHAR}, #{categoryDescription,jdbcType=VARCHAR}
    ,#{categoryOrder,jdbcType=VARCHAR},#{categoryIcon,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wj.blog.common.domain.Category">
    insert into category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="categoryId != null">
        category_pid,
      </if>
      <if test="categoryName != null">
        category_name,
      </if>
      <if test="categoryDescription != null">
        category_description,
      </if>
      <if test="categoryOrder != null">
        category_order,
      </if>
      <if test="categoryIcon != null">
        category_icon,
      </if>

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="categoryId != null">
        #{categoryId,jdbcType=VARCHAR},
      </if>
      <if test="categoryPid != null">
        #{categoryPid,jdbcType=VARCHAR},
      </if>
      <if test="categoryName != null">
        #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="categoryDescription != null">
        #{categoryDescription,jdbcType=VARCHAR},
      </if>
      <if test="categoryOrder != null">
        #{categoryOrder,jdbcType=VARCHAR},
      </if>
      <if test="categoryIcon != null">
        #{categoryIcon,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wj.blog.common.domain.Category">
    update category
    <set>
      <if test="categoryPid != null">
        category_pid = #{categoryPid,jdbcType=VARCHAR},
      </if>
      <if test="categoryName != null">
        category_name = #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="categoryDescription != null">
        category_description = #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="categoryOrder != null">
        category_order = #{categoryOrder,jdbcType=VARCHAR},
      </if>
      <if test="categoryIcon != null">
        category_icon = #{categoryIcon,jdbcType=VARCHAR},
      </if>
    </set>
    where category_id = #{categoryId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wj.blog.common.domain.Category">
    update category
    set  category_pid = #{categoryPid,jdbcType=VARCHAR},
      category_name = #{categoryDescription,jdbcType=VARCHAR},
      category_description = #{categoryDescription,jdbcType=VARCHAR},
       category_order = #{categoryOrder,jdbcType=VARCHAR},
         category_icon = #{categoryIcon,jdbcType=VARCHAR}
    where category_id = #{categoryId,jdbcType=VARCHAR}
  </update>
</mapper>