<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wj.blog.dao.LeaveMsgMapper">
  <resultMap id="BaseResultMap" type="com.wj.blog.common.domain.LeaveMsg">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="date" jdbcType="TIMESTAMP" property="date" />
    <result column="system" jdbcType="VARCHAR" property="system" />
    <result column="browser_info" jdbcType="VARCHAR" property="browserInfo" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, comment, date, system, browser_info
  </sql>

  <!-- 查询留言总数 -->
<select id="selectTotal" resultType="java.lang.Integer">
  select
   count(*)
  from leave_msg
</select>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from leave_msg
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from leave_msg
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wj.blog.common.domain.LeaveMsg">
    insert into leave_msg (id, user_id, comment, 
      date, system, browser_info
      )
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{comment,jdbcType=VARCHAR}, 
      #{date,jdbcType=TIMESTAMP}, #{system,jdbcType=VARCHAR}, #{browserInfo,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wj.blog.common.domain.LeaveMsg">
    insert into leave_msg
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="comment != null">
        comment,
      </if>
      <if test="date != null">
        date,
      </if>
      <if test="system != null">
        system,
      </if>
      <if test="browserInfo != null">
        browser_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="system != null">
        #{system,jdbcType=VARCHAR},
      </if>
      <if test="browserInfo != null">
        #{browserInfo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wj.blog.common.domain.LeaveMsg">
    update leave_msg
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        date = #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="system != null">
        system = #{system,jdbcType=VARCHAR},
      </if>
      <if test="browserInfo != null">
        browser_info = #{browserInfo,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wj.blog.common.domain.LeaveMsg">
    update leave_msg
    set user_id = #{userId,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=VARCHAR},
      date = #{date,jdbcType=TIMESTAMP},
      system = #{system,jdbcType=VARCHAR},
      browser_info = #{browserInfo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>